
<div style="padding-left: 25px">
<div class="row">
    <div class="col-xs-12">
        <h4>{{customer.name}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>{{customer.address}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>{{customer.phoneNumber}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>{{customer.gender}}</h4>
    </div>
</div>
<div class="row">
    <button class="btn btn-danger" (click)="deleteCustomer()">Delete</button>
    <button class="btn btn-warning"  type="button" (click)="updateCustomer()">Update</button>
</div>
</div>